#content{
    display: flex;
    flex-direction: column;
}
.refndCf{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.rf{
    width: 900px;
    height: 400px;
    border: 1px solid #d9d9d9;
    border-radius: 15px;
    box-shadow: 0px 1px 5px rgba(34, 35, 58, 0.2);
    background-color: rgba(255, 255, 255, 0.2);
}
.rfTitle{
    padding: 10px;
    margin-left: 20px;
    margin-top: 20px;
}
.rfTitle span{
    font-size: 30px;
    font-weight: 500;
}
.rfTitle p{
    margin-left: 15px;
    margin-top: 30px;
}
.homeBtn{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}