@charset "UTF-8";
.content_container{
    display: flex;
    justify-content: center;
}
.line_menu{
    display: flex;
    flex-direction: column;
}
.resveHeader{
	margin-top: 30px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
}
.haveCoin{
	display: flex;
    flex-direction: row-reverse;
}
table{
    width: 100%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
}
th, td{
    border-bottom: 1px solid #444444;
    padding: 10px;
    text-align: center;
}
.transactionTable{
	width: 1020px;
	height: 470px;
	overflow: auto;
}
.tr-1{
	background-color: antiquewhite;
}
.listBtn{
	justify-content: flex-end;
    display: flex;
    margin-bottom: 15px;
}
.listBtn span{
	padding-right: 410px;
}
.listBtn span i{
	padding-right: 5px;
}
.sellList{
	margin-right: 15px;
}
.txta-1{
	text-align: left;
}
.txta-2{
	text-align: right;
}