@charset "UTF-8";

.content_container{
    display: flex;
    justify-content: center;
    height: 100%;
}
.line_menu{
    display: flex;
    flex-direction: column;
    width: 90%;	
}
.mberAcountNoUpdateHeader{
	margin-top: 30px;
    margin-left: 25px;
}
.wh-1{
	display: flex;
    flex-direction: column;
    width: auto;
    height: 40px;
}
.wh-2{
	display: flex;
    justify-content: flex-end;
}
.mberAcountNoUpdateBox{
	align: 				center;
	display: flex;
    flex-direction: row;
    height: 70%;
    border-radius: 15px;
    box-shadow: 0px 1px 5px rgba(34, 35, 58, 0.2);
    background-color: rgba(255, 255, 255, 0.2);
}
form{
	padding-left: 315px;
    margin-top: 130px;
}
.msg{
	padding-bottom: 50px;
}
.btn{
	width:150px;
    background-color: #f8585b;
    background : black;
    border-color : black;
    border : 2px solid;
    color:#fff;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px;
    cursor: pointer;
	border-radius : 3px;

}

.btn:hover {
	border: 2px solid;
	border-radius: 3px;
	background: #fff;
	color: black;
	}


