<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 수정요망 -->
<mapper namespace="com.lifemenu.dao.mebc.IWalletDaoMebc">
	
	<select id="selectOneMber" resultType="mberDto"  parameterType="String">	<!-- 회원코드로 단건조회 -->
		SELECT * FROM MBER WHERE mber_Code = #{mberCode}
	</select>
	
	<select id="selectOneMberWallet" resultType="walletDto"  parameterType="String">	<!-- 회원코드로 단건 지갑 조회 -->
		SELECT * FROM WALLET WHERE mber_Code = #{mberCode}
	</select>
	
	<select id="selectOneWalletDtls" resultType="walletDtlsDto"  parameterType="String"> <!-- 회원코드로 단건 입출금내역 조회  -->
		SELECT * FROM WALLET_DTLS WHERE mber_Code = #{mberCode}
	</select>
	
	<insert id="insertWalletDtls" parameterType="walletDtlsDto">	<!-- 입금페이지에서 정보받아와서 넣는것 -->
		INSERT INTO WALLET_DTLS VALUES(#{mberCode},SYSTIMESTAMP,#{rcppayCl},#{rcppayAmount},#{excngCoinCo})
	</insert>
	
	<update id="updateWallet"> <!-- 입금해서 코인 수 바꾸는 것  0=코드 ,1=코인수-->
		UPDATE WALLET SET COIN_CO=#{1} WHERE mber_Code = #{0}
	</update>
	
	<update id="updateMberAcountNo"> <!-- 입금해서 코인 수 바꾸는 것  0=코드 ,1=계좌번호-->
		UPDATE MBER SET MBER_ACOUNT_NO = #{1} WHERE mber_Code = #{0}
	</update>
	


</mapper>
