<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 수정요망 -->
<mapper namespace="com.lifemenu.admin.dao.mebc.ITagDaoMebc">

	<resultMap id="tagResult" type="tagDto">
		<result property="tagCode" column="TAG_CODE"/>
		<result property="tagNm" column="TAG_NM"/>
		<result property="imageAdres" column="IMAGE_ADRES"/>
	</resultMap>
	
	<select id="selectOneTag" resultMap="tagResult">
		SELECT * FROM TAG WHERE TAG_CODE = #{tagCode}
	</select>
	
	<insert id="insertTag" parameterType="tagDto">
		INSERT INTO TAG
		(
			TAG_CODE
		,	TAG_NM
		,	IMAGE_ADRES
		)
		VALUES
		(
			#{tagCode}
		,	#{tagNm}
		,	#{imageAdres}
		)
	</insert>
	
	<update id="updateTag" parameterType="tagdto">
		UPDATE TAG SET
			TAG_NM	 	= 	#{tagNm}
		,	IMAGE_ADRES = 	#{imageAdres}
		WHERE TAG_CODE = #{tagCode}
	</update>

	<delete id="deleteTag">
		DELETE FROM TAG WHERE TAG_CODE = #{tagCode}
	</delete>


</mapper>
