<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 수정요망 -->
<mapper namespace="com.lifemenu.admin.dao.mebc.IResveSetleHistDaoMebc">
	
	<insert id="insertResveSetleHist" parameterType="resveSetleHistDto">
		INSERT INTO RESVE_HIST 
		( RCORD_DT , HIST_SE , MBER_CODE , VOCHR_CODE 
		, RESVE_PC , RESVE_DT , SETLE_PC , SETLE_DT 
		, SETLE_AT , REFND_REQST_AT , PURCHS_DCSN_AT )
		VALUES (
		 	  SYSTIMESTAMP
		 	, #{histSe} 
		 	, #{mberCode}
		 	, #{vochrCode}
		 	, #{resvePc}
		 	, #{resveDt}
		 	, #{setlePc}
		 	, #{setleDt}
		 	, #{setleAt}
		 	, #{refndReqstAt}
		 	, #{purchsDcsnAt}
		)
	</insert>
	
</mapper>
