<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 수정요망 -->
<mapper namespace="com.lifemenu.admin.dao.qebc.IWalletDtlsHistDaoQebc">
	
	<select id="selectMultiWalletDtlsHist" parameterType="historyParamVo" resultType="walletDtlsHistDto">
		<![CDATA[
		SELECT 	*
 		FROM 	( SELECT 	ROWNUM 	RNUM
 		 				  , O.* 
 		 		  FROM 	  ( SELECT 	* 
 		 		  			FROM 	WALLET_DTLS_HIST
 		 		  			WHERE 	RCORD_DT >= TO_TIMESTAMP(#{ startRcordDt })
 		 		  			AND 	RCORD_DT <  TO_TIMESTAMP(#{ endRcordDt })
 		 		  			ORDER 	BY RCORD_DT DESC 
 		 		  		  )	O
 		 		) 
 		WHERE 	RNUM 	>= #{ start }
 		AND 	ROWNUM 	<= #{ cnt }
 		]]>
	</select>
	
	<select id="selectMultiWalletDtlsHistByCondition" parameterType="conditionParamVo" resultType="walletDtlsHistDto">
		<![CDATA[
		SELECT 	*
 		FROM 	( SELECT 	ROWNUM 	RNUM
 		 				  , O.* 
 		 		  FROM 	  ( SELECT 	* 
 		 		  			FROM 	WALLET_DTLS_HIST
 		 		  			WHERE 	${ conditionType } = #{ condition }
 		 		  			ORDER 	BY RCORD_DT DESC 
 		 		  		  )	O
 		 		) 
 		WHERE 	RNUM 	>= #{ start }
 		AND 	ROWNUM 	<= #{ cnt }
 		]]>
	</select>
	
</mapper>
