<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- ver.1.0.0. -->

<mapper namespace="com.lifemenu.admin.dao.qebc.IVochrMngrDaoQebc">
	
	<resultMap type="vochrMngrDto" id="vochrMap">
	 	<id column="VOCHR_CODE" property="vochrCode" />
	 	<result column="MBER_CODE" property="mberCode"/>
	 	<result column="VOCHR_PRICE" property="vochrPrice"/>
	 	<result column="MEAL_PREARNGE_DT" property="mealPrearngeDt"/>
	 	<result column="VOCHR_REGIST_DT" property="vochrRegistDt"/>
	 	<result column="MEAL_TIME" property="mealTime"/>
	 	<result column="DELNG_AT" property="delngAt"/>
		<result column="MBER_NCNM" property="mberNcnm"/>
		<result column="MBER_RLNM" property="mberRlnm"/>
		<result column="MBER_EMAIL" property="mberEmail"/>
		<result column="MBER_TEL" property="mberTel"/>
		<result column="BANK_CODE" property="bankCode"/>
		<result column="MBER_ACOUNT_NO" property="mberAcountNo"/>
	</resultMap>
	
	<select id="selectMultiVochr" parameterType="pageParamVo" resultMap="vochrMap">
		<![CDATA[
		SELECT 	*
 		FROM 	( SELECT 	ROWNUM 	RNUM
 		 				  , O.* 
 		 		  FROM 	  ( SELECT 	V.* 
 		 		   				  , MBER_NCNM
 		 		   				  , MBER_RLNM
 		 		   				  , MBER_EMAIL
 		 		   				  , MBER_TEL
 		 		   				  , BANK_CODE
 		 		   				  , MBER_ACOUNT_NO
 		 		  			FROM 	VOCHR 	V
 		 		  			 	  , MBER 	M
 		 		  			WHERE 	V.MBER_CODE = M.MBER_CODE
 		 		  			ORDER 	BY VOCHR_CODE 
 		 		  		  )	O
 		 		) 
 		WHERE 	RNUM 	>= #{ start }
 		AND 	ROWNUM 	<= #{ cnt }
 		]]>
	</select>
	
	<select id="selectMultiVochrByCondition" parameterType="conditionParamVo" resultType="voucherDto">
		<![CDATA[
		SELECT 	*
 		FROM 	( SELECT 	ROWNUM 	RNUM
 		 				  , O.* 
 		 		  FROM 	  ( SELECT 	V.* 
 		 		   				  , MBER_NCNM
 		 		   				  , MBER_RLNM
 		 		   				  , MBER_EMAIL
 		 		   				  , MBER_TEL
 		 		   				  , BANK_CODE
 		 		   				  , MBER_ACOUNT_NO
 		 		  			FROM 	VOCHR 	V
 		 		  			 	  , MBER 	M
 		 		  			WHERE 	V.MBER_CODE = M.MBER_CODE
 		 		  			AND 	${ conditionType } = #{ condition }
 		 		  			ORDER 	BY VOCHR_CODE 
 		 		  		  )	O
 		 		) 
 		WHERE 	RNUM 	>= #{ start }
 		AND 	ROWNUM 	<= #{ cnt }
 		]]>
	</select>
	
	<select id="selectMultiResve" parameterType="String" resultType="resveDto">
		SELECT 	R.*
		FROM 	RESVE R
		 	  , VOCHR V
		WHERE 	R.VOCHR_CODE = V.VOCHR_CODE
		AND 	V.VOCHR_CODE = #{ vochrCode }
	</select>
	
	<select id="selectMultiSetle" parameterType="String" resultType="setleDto">
		SELECT 	S.*
		FROM 	SETLE S
		 	  , RESVE R
		 	  , VOCHR V
		WHERE 	S.SETLE_CODE = R.RESVE_CODE
		AND 	R.VOCHR_CODE = V.VOCHR_CODE
		AND 	V.VOCHR_CODE = #{ vochrCode }
	</select>
	
	<select id="selectVochrMngrTotalCount" resultType="int">
		SELECT 	COUNT(*) NEXT
		FROM 	VOCHR
	</select>
	
	<!-- RESVE, SETLE는 1:1관계 -->
	<select id="selectResveSetleTotalCount" resultType="int">
		SELECT 	COUNT(*) NEXT
		FROM 	RESVE
	</select>
	
</mapper>
