@charset "UTF-8";
body {
	font-family: 'Noto Sans KR', sans-serif;
}
#reserve_btn {
	position: absolute;
	top: 642px;
	right: 51px;
	width: 460px;
	height: 70px;
	box-shadow: 2px 2px 5px #999;
	font-size: 35px;
	cursor: pointer;
	border: 2px solid;
	border-color: black;
	border-radius: 20px;
	background: black;
	color: #fff;
}

#reserve_btn:hover {
	border: 2px solid;
	background: #fff;
	color: black;
}

.vochr_box {
	border: 0px;
	cursor: pointer;
	box-shadow: 2px 2px 5px #999;
	border-radius: 2px;
	height: 190px;
	width: 180px;
	margin: 15px;
	text-align: center;
}

.vochr_box tr{
	margin: 0px;
	padding: 0px;
}
.vochr_box tr td{
	margin: 0px;
	padding: 0px;
}

#content_container {
	height: 498px;
    overflow: auto;
}

#content_container::-webkit-scrollbar {
	width: 10px;
}

#content_container::-webkit-scrollbar-thumb {
	background-color: pink;
	border-radius: 20px;
}

#content_container::-webkit-scrollbar-track {
	background-color: transparent;
}
.money {
	color: #FFE53B;
	background: linear-gradient(147deg, #FFE53B 0%, #fd3838 74%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.subtitle {
	font-size: 17px;
	font-weight: bold;
}

#vochr_container {
	margin: 16px;
    margin-left: 35px;
    margin-top: 28px;
}